*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}


. body{
    margin: auto;
    width: 900px;
    height: 600px;
    border: 1px double black;
}

.forma{
    text-align: center;
}
.form-1{
    margin-top:10%;
    margin-left: 20%;

    width: 300px;
    height: 200px;
    border: 0px double black;
    background: #ff9;
    padding: 10px;
}


.forma2{

    border: 1px double black;
    margin-top:3%;
    margin-left: 20%;
    display: inline-block;
    background-color: gainsboro;
}
.user{
    text-align: right;
    width: 400px;
    border: 0px double black;

}
.listBook{

    border: 0px double black;

}
.listBook p{
    text-align: center;

}
.insertBook{
    border: 0px double black;
}
.left{
    float: left;
}
.right{
}
.left label{
    text-align: center;
}
.right label{
    text-align: center;
}
.insertCommens{
    border: 0px double black;
}
.insertCommens label{
    border: 0px double black;

}

legend{
    font-size: 20px;
    text-transform: capitalize;
}
.search{
    text-align: right;

}